$white:                 #FFFFFF;
$black:                 #000000;
$red:                   #f44336;
$grey:                  #999999;
$greyLight:             #cccccc;
$greyPlus:              #acacac;
$greyThird:             #f7f7f7;
$roboto:                'Roboto Condensed', sans-serif;
$poppins:               'Poppins', sans-serif;
