$white:                 #FFFFFF;
$black:                 #000000;
$red:                   #f44336;
$grey:                  #999999;
$greyAnother:           #9e9e9e;
$greyLight:             #cccccc;
$greyBorder:            #c5c5c5;
$greyLighter:           #e8e8e8;
$greyPlus:              #acacac;
$greyThird:             #f7f7f7;
$greyOurTeamPosition:   #838383;
$roboto:                'Roboto Condensed', sans-serif;
$poppins:               'Poppins', sans-serif;
