@import "../../../variables";

.mainInfoBlock {
  max-width: 1000px;
  margin: 135px auto 0;
  text-align: center;
  &__h1 {
    display: block;
    margin-top: 94px;
    font-family: $poppins;
    font-size: 60px;
    line-height: 48px;
    font-weight: 500;
    letter-spacing: 0.01em;
    cursor: default;
    color: $white;
  }
  &__h3 {
    position: relative;
    display: inline-block;
    font-family: $roboto;
    font-size: 18px;
    line-height: 48px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: $white;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 80%;
      height: 2px;
      left: 9%;
      bottom: -16px;
      background: $white;
    }
  }
}
