@import "../../../variables";
.routeMap {
  max-width: 1200px;
  margin: 96px auto 90px;
  &__header {
    font-family: Poppins;
    font-size: 36px;
    line-height: 48px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: $red;
  }
  &__map {
    margin: 25px 0 90px;
  }
}
