@import "../../variables";

.newsAndEvents {
  margin: 97px auto;
  &__header {
    font-family: $poppins;
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    color: $red;
  }
  &__mainBlock {
    max-width: 1171px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &_left {
      max-width: 472px;
      width: 100%;
      &_header {
        font-family: $poppins;
        font-size: 24px;
        line-height: 48px;
        font-weight: 500;
        text-transform: capitalize;
        text-align: left;
        color: $black;
      }
    }
    &_right {
      max-width: 570px;
      width: 100%;
      &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $greyBorder;
      }
      &_h2 {
        font-family: $poppins;
        font-size: 24px;
        line-height: 48px;
        font-weight: 500;
        color: $black;
      }
      &_buttons {
        margin-right: 15px;
        cursor: pointer;
      }
    }
  }
}

.latestNews {
  &__list {
    &_element {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:not(:last-child) {
        margin-bottom: 49px;
      }
    }
  }
  &__news {
    max-width: 308px;
    &_header {
      font-family: $roboto;
      font-size: 16px;
      line-height: 48px;
      font-weight: 700;
      text-transform: capitalize;
      color: $red;
    }
    &_text {
      font-family: $roboto;
      font-size: 14px;
      line-height: 24px;
      font-weight: 300;
      color: $greyAnother;
    }
  }
  &__date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 139px;
    background: $greyThird;
    border: 1px solid $greyLighter;
    border-radius: 49px;
    &_day {
      font-family: $poppins;
      font-size: 32px;
      //line-height: 48px;
      font-weight: 500;
      color: $black;
    }
    &_month {
      font-family: $poppins;
      font-size: 14px;
      //line-height: 48px;
      font-weight: 500;
      text-transform: capitalize;
      color: $greyAnother;
    }
    &_year {
      font-family: $poppins;
      font-size: 13px;
      //line-height: 48px;
      font-weight: 500;
      font-style: italic;
      color: $greyAnother;
    }
  }
}
.featuredEvents {
  &__gallery {
    margin: 33px 0 45px;
    display: flex;
  }
  &__events {
    &_list {

    }
    &_element {
      &_header {
        padding: 10px 0;
        display: flex;
        align-items: center;
        background: url("../../assets/img/featured_events/plus-solid.svg") left no-repeat;
        background-size: 13px;
        font-family: $roboto;
        font-size: 16px;
        line-height: 48px;
        font-weight: 700;
        color: $black;
        cursor: pointer;
        &-active {
          background: url("../../assets/img/featured_events/minus-solid.svg") left no-repeat;
          background-size: 13px;
        }
      }
      &_headerH3 {
        margin-left: 20px;
      }
      &_headerBtnOpen {
        margin-right: 10px;
        display: none;
      }
      &_headerBtnClose {
        margin-right: 10px;
        display: none;
      }
      &_text {
        padding: 43px 23px 43px 13px;
        background: $greyLighter;
        font-family: $roboto;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: $greyAnother;
      }
    }
  }
  &__sliderWrapper {
    animation: fade .3s ease-in-out;
  }
}

.active {
  display: block;
}
.closed {
  display: none;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}
