@import '../../variables';
.infoHeader {
  margin-top: 12px;
}
.navigation {
  border-color: $black;
}
.contactUs {
  padding: 97px 0;
  background: $greyLighter;
  &__header {
    margin: 0 auto 97px;
  }
}
