@import "../../variables";

.subscribeUs {
  width: 100%;
  height: 313px;
  background: url("../../assets/img/top_header_background.jpg") no-repeat -300px -270px;
  //background-position: -300px -270px;
}
