@import "../../variables";

.navigation {
  width: 100%;
  border-bottom: 1px solid $white;
  &__list {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 31px 0;
    &_element {
      position: relative;
      font-family: $roboto;
      font-size: 16.7px;
      line-height: 22px;
      font-weight: 400;
      letter-spacing: 0.01em;
      &:hover {
        & .navigation__list_link {
          color: $grey;
          &:after {
            width: 100%;
          }
        }
      }
      &-active {
        & .navigation__list_link {
          color: $red;
          &:after {
            background: $red;
            width: 100%;
          }
        }
      }
    }
    &_link {
      padding: 0 10px;
      text-transform: capitalize;
      color: $black;
      transition: color .3s ease-in-out;
      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -33px;
        left: 0;
        width: 0;
        height: 3px;
        transition: .2s width ease-in-out;
        background: $grey;
      }
    }
  }
}
