@import "../../../variables";


.infoHeaderSocials {
  max-width: 1000px;
  margin: 75px auto 0;
  display: flex;
  justify-content: center;
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 6px;
    border: 2px solid $white;
    border-radius: 50%;
    transition: .2s border-color ease-in-out;
    &:hover {
      border-color: $red;
      & .infoHeaderSocials__social {
        color: $red;
      }
    }
  }
  &__social {
    color: $white;
    transition: .2s color ease-in-out;
  }
}
