@import "../../../variables";

.infoHeader {
  padding: 19px 0;
  height: 83px;

  background: rgba($black, .5);
  &__wrapper {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    align-self: baseline;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: $white;
    user-select: none;
    &_top {
      margin-bottom: 5px;
    }
    &_bottom {
      font-size: 15px;
      line-height: 22px;
      font-weight: 500;
      letter-spacing: 2.0em;
      text-transform: uppercase;
    }
  }
  &__contactsBlock {
    display: flex;
  }
  &__contact {
    display: flex;
    align-items: center;
    position: relative;
    height: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16.7px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: $white;
    &_number {
      padding-left: 14px;
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 2px;
        bottom: -5px;
        left: 0;
        background: $red;
        transition: width .3s ease-in-out;
      }
    }
    &:first-child {
      margin-right: 39px;
    }
    &:hover {
      & .infoHeader__contact_number:after {
        width: 100%;
      }
    }
  }
  &__searchBlock {
    width: 208px;
    display: flex;
    align-items: center;
    &_input {
      width: 100%;
      padding: 12px 16px;
      border: 1px solid $white;
      background: transparent;
      outline: none;
      font-family: 'Roboto Condensed';
      font-size: 16.7px;
      line-height: 22px;
      font-weight: 400;
      letter-spacing: 0.01em;
      transition: .3s border-color ease-in-out;
      color: $white;
      &::placeholder {
        color: $white;
      }
      &:hover,
      &:focus,
      &:active {
        & + .infoHeader__searchBlock_inputBtn{
          border-color: $red;
        }
        border-color: $red;
      }
    }
    &_inputBtn {
      border: 1px solid $white;
      border-left: none;
      background: transparent;
      transition: .3s border-color ease-in-out;
      cursor: pointer;
      &::placeholder {
        color: $white;
      }
      &:hover,
      &:focus,
      &:active {
        border-color: $red;
      }
      &_img {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 15px 14px 15px;
      }
    }
  }
}

