@import "../../variables";

.servicesWrapper {
  background: $greyThird;
}
.services {
  max-width: 1000px;
  margin: 92px auto 106px;
  padding: 92px 0 87px;

  &__header {
    margin-bottom: 87px;
    font-family: $poppins;
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    color: $red;
  }
  &__block {
    display: flex;
    justify-content: space-between;
  }
  &__leftBlock {
    &_article {
      display: flex;
      margin-bottom: 73px;
      cursor: pointer;
      &:hover {
        & .services__leftBlock_articleHeader {
          color: $red;
        }
        & .services__leftBlock_articleImgBlock {
          background: $red;
        }
      }
    }
    &_articleHeader {
      margin-bottom: 18px;
      text-align: right;
      font-family: $poppins;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      letter-spacing: 0.01em;
      color: $black;
      transition: .3s color ease-in-out;
    }
    &_articleText {
      max-width: 282px;
      text-align: right;
      font-family: $roboto;
      font-size: 12px;
      line-height: 20px;
      font-weight: 400;
      letter-spacing: 0.01em;
      color: $grey;
    }
    &_articleImgBlock {
      width: 102px;
      height: 102px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 66px;
      border: 1px solid $greyPlus;
      border-radius: 50%;
      background: rgba($greyLight, .4);
      transition: .3s background-color ease-in-out;
    }
  }
  &__rightBlock {
    &_article {
      display: flex;
      margin-bottom: 73px;
      cursor: pointer;
      &:hover {
        & .services__rightBlock_articleHeader {
          color: $red;
        }
        & .services__rightBlock_articleImgBlock {
          background: $red;
        }
      }
    }
    &_articleHeader {
      margin-bottom: 18px;
      text-align: left;
      font-family: $poppins;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      letter-spacing: 0.01em;
      color: $black;
      transition: .3s color ease-in-out;
    }
    &_articleText {
      max-width: 282px;
      text-align: left;
      font-family: $roboto;
      font-size: 12px;
      line-height: 20px;
      font-weight: 400;
      letter-spacing: 0.01em;
      color: $grey;
    }
    &_articleImgBlock {
      width: 102px;
      height: 102px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 68px;
      border: 1px solid $greyPlus;
      border-radius: 50%;
      background: rgba($greyLight, .4);
      transition: .3s background-color ease-in-out;
    }
  }
}
